Release
Debug

*~
*.swp
*.slo
*.lo
*.o
*.so
*.dylib
*.lai
*.la
*.a
aclocal.m4
autom4te.cache
config.h
config.status
stamp-h1
.deps
Makefile
*.log

dandelion
*.conf
*.html

*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.SearchResults
*.WK3
